export POD_NAME=kubernetes-bootcamp-2457653786-gdppb
export NODE_PORT=32209

# Enables docker to search for the docker registry on the minikube VM.
export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://192.168.99.100:2376"
export DOCKER_CERT_PATH="/Users/alexandrutopliceanu/.minikube/certs"
export DOCKER_API_VERSION="1.23"
