<!doctype html>
<html ng-app='todoApp'>
    <head>
        <link rel="stylesheet" href="css/todo.css"/>
        <script src="lib/angular.js"></script>
        <script src="lib/underscore.js"></script>
        <script src="todo.js"></script>
    </head>
    <body>
        <div>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <h1>{{yourName}} 's todo list</h1>
        </div>

        <div ng-controller="TodoController">
            <div>{{remaining()}} of {{todos.length}} remaining</div>
            <ul class="unstyled">
                <li ng-repeat="todo in todos" class="done-{{todo.done}}">
                    <input type="checkbox" ng-model="todo.done"/>
                    <span>{{todo.text}}</span>
                </li>
            </ul>
            <input type="text" ng-model="todoText"/>
            <input type="submit" value="Add Todo" ng-click="addTodo()"/>
            <input type="submit" value="Archive" ng-click="archive()"/>
        </div>
    </body>
</html>
